<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %> 
	<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body class="farmpage">
    <% include partials/menu %>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br>
	<div class= "box-4">
		<br>
	</div>
	<div class="container">
		<h1 style="font-family: serif; font-size: 50px;">What is a farm?</h1>
		<div class="top-2">
			<div class="left-1">
				<p>A farm is an area of land that is devoted primarily to agricultural processes with the primary objective of producing food and other crops; it is the basic facility in food production. The name is used for specialized units such as arable farms, vegetable farms, fruit farms, dairy, pig and poultry farms, and land used for the production of natural fiber, biofuel and other commodities. It includes ranches, feedlots, orchards, plantations and estates, smallholdings and hobby farms, and includes the farmhouse and agricultural buildings as well as the land. In modern times the term has been extended so as to include such industrial operations as wind farms and fish farms, both of which can operate on land or sea.</p>
				
				<h1 style="font-family: serif; font-size: 50px;">Livestock farm</h1>
				<p>
					Livestock is commonly defined as domesticated animals raised in an agricultural setting to produce labor and commodities such as meat, eggs, milk, fur, leather, and wool. The term is sometimes used to refer solely to those that are bred for consumption, while other times it refers only to farmed ruminants, such as cattle, sheep and goats. Horses are considered livestock in the United States. The USDA classifies pork, veal, beef, and lamb (mutton) as livestock and all livestock as red meat. Poultry and fish are not included in the category.
				</p>
			</div>
			<div class="right-1">
				<div class="top-3">
					<p>Modern farms in developed countries are highly mechanized. In the United States, livestock may be raised on rangeland and finished in feedlots and the mechanization of crop production has brought about a great decrease in the number of agricultural workers needed. In Europe, traditional family farms are giving way to larger production units. In Australia, some farms are very large because the land is unable to support a high stocking density of livestock because of climatic conditions. In less developed countries, small farms are the norm, and the majority of rural residents are subsistence farmers, feeding their families and selling any surplus products in the local market.</p>
				</div>
				<div class="foot-3">
					<p>There are about 570 million farms in the world, with most of which are small and family-operated. Small farms with land area of less than 2 hectares operate about 12% and family farms, comprising about 75% of the world's agricultural land.</p>
					
				</div>
			</div>
		</div>
		<div class="foot-2">
			<div class="left-2">
				<h1 style="font-family: serif; font-size: 50px;">Farming - Agriculture</h1>
				<p>Agriculture is the practice of cultivating plants and livestock. Agriculture was the key development in the rise of sedentary human civilization, whereby farming of domesticated species created food surpluses that enabled people to live in cities. The history of agriculture began thousands of years ago. After gathering wild grains beginning at least 105,000 years ago, nascent farmers began to plant them around 11,500 years ago. Pigs, sheep, and cattle were domesticated over 10,000 years ago. Plants were independently cultivated in at least 11 regions of the world. Industrial agriculture based on large-scale monoculture in the twentieth century came to dominate agricultural output, though about 2 billion people still depended on subsistence agriculture.</p>
				<br>
				<p>Modern agronomy, plant breeding, agrochemicals such as pesticides and fertilizers, and technological developments have sharply increased crop yields, while causing widespread ecological and environmental damage. Selective breeding and modern practices in animal husbandry have similarly increased the output of meat, but have raised concerns about animal welfare and environmental damage. Environmental issues include contributions to global warming, depletion of aquifers, deforestation, antibiotic resistance, and growth hormones in industrial meat production. Agriculture is both a cause of and sensitive to environmental degradation, such as biodiversity loss, desertification, soil degradation and global warming, all of which can cause decreases in crop yield. Genetically modified organisms are widely used, although some are banned in certain countries.</p>
			</div>
			<div class="right-2">
				<br><br><br>
				<div class="top-4">
					<img class="image-farmers" src="../images/farmers.jpg " width="400px" height="300px" style="border-radius: 30px; margin-left: 30px;">

				</div>
				<div class="foot-4">
					<img class="image-farmers" src="../images/livestock.jpeg" width="400px" height="300px" style="border-radius: 30px; margin-left: 30px;">

				</div>
			</div>
		</div>
	</div>

<div class="footer">
  <h2 style="color: rgb(85, 85, 85)">&#169 2020 - 2021 <a id="Home" href="/" class="footerlink">TrFood. Tracking the food.</a></h2>
</div>


<% include partials/footer %>
</body>
<% include partials/script %>
</html>
