<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="index" style="margin: 0px;">
<% include partials/menu %>
<br><br>
<h1 class="topimg"><img class="imgt" src="../images/FarmtoFork.png" style="vertical-align: middle;"></h1>

	<div class= "box-1" style="vertical-align: top;">
			<br><br>
			<div class="img-container-1">
				<img src="../images/farmicon.jpg" width="300" height="250" style="border-radius: 20px;">
				<a href="/indexInfo/farmers">
				<button class="topb-1" href>Farm</button>   
			    </a> 
		    </div>
			<br><br>
			<div class="img-container-1">
				<img src="../images/food-industry.jpg" width="300" height="250" style="border-radius: 20px;">
				<a href="/indexInfo/processing">
				<button class="topb-1">Processing</button>	
   				</a> 
			</div>
			<br><br>
			<div class="img-container-1">
				<img src="../images/marketicon.jpg" width="300" height="250" style="border-radius: 20px;">
				<a href="/indexInfo/markets">
				<button class="topb-1">Market</button>	
			    </a>
			</div>
			<br><br>
	</div>
	<div class= "box-2">
		<br>
	</div>
	<div class= "box-3">
		<div class="content" style="text-align: right;">
			<br><br><br>
			<div class="img-container-2">
				<a href="/indexInfo/foodprint">
				<button class="topb-2">FoodPrint</button>
				</a>
				<img src="../images/foodprint.jpg" width="300" height="250" style="border-radius: 20px;" >
			</div>
			<br><br>
			<div class="img-container-2">
				<a href="/indexInfo/farmToFork">
				<button class="topb-2">Farm to Fork</button>
			    </a>
				<img src="../images/farmtofork.jpg" width="300" height="250" style="border-radius: 20px; ">
			</div>
			<br><br>
			<div class="img-container-2">
				<a href="/indexInfo/foodGroups">
				<button class="topb-2">Food Groups</button>
			    </a>
				<img src="../images/foodGroups.png" width="300" height="250" style="border-radius: 20px; ">
			</div>
			<br><br>
		</div>
	</div>
	<div class= "box-2">
		<br>
	</div>
 

<div class="footer">
  <h2 style="color: rgb(92, 92, 92)">&#169 2020 - 2021 <a id="Home" href="/index/index" class="footerlink" >TrFood. Tracking the food.</a></h2>
</div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>
