<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="termsPage">
<% include partials/menu %>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br> <br><br>
<div class="box-8"><br></div>

<div class="container-9">
	<div class="top-8">
		<h1 style="font-family: serif; font-size: 50px;">Terms of Use</h1>
	
			<p>TrFood does not sell or farm any produce. We aim to create a platform where consumers can access the journey of their produce; from the farm it was harvested at to their shopping baskets. We aim to create a transparent space that encourages ethical and sustainable ideals amongst the producers, farmers’ markets and consumers.</p>
			<p>The information regarding the produce data is uploaded by farmers and market administrators directly. We make no representations, warranties or guarantees, whether express or implied for the content on the FoodPrint. The farmers and market administrators are required to check that the site is accurate, complete or up-to-date. We strongly recommend you verify any information before you rely on it.</p>
			<p>We know how important the colour of a product can be. The way that colours of products are displayed may depend on your monitor. We can't really control this, but we think it is worth reminding you.</p>
			<p>You must not access or use the TrFood website for any illegal or unauthorised purpose. You shall remain solely responsible for your conduct on the Site, including any content you upload and any comments you make.</p>
			<p>The TrFood company cannot be held liable for any negative externality that may occur as a result of consuming the produce listed on the site. Buyers are fully responsible for all purchases they make at the market and all produce they may consume.</p>
	</div>
	<div class="foot-8">
		<h1 style="font-family: serif; font-size: 50px;">Privacy & Policy</h1>
			<p>At TrFood, we value your trust and respect your privacy.</p>
			<p>TrFood exists to support farmers, intermediaries and consumers in food supply chains by through technology enabled transparency and traceability solutions, while respecting your privacy expectations.</p>
			<p>This privacy policy applies to https://www.foodprintapp.com and, its subdomains (the “Site”), and our mobile apps, all of which are owned and operated by FoodPrint. It does not apply to any third-party websites, which have their own policies. Throughout this policy, when we say FoodPrint, we mean our company, including the Site and any FoodPrint mobile apps, and when we say Services we mean the various services, and apps we make available to you through our Site and mobile apps, including our logging, tracing, ordering, analytics services, and other food supply chain related services and support.</p>
			<p>By “Personal Information”, we mean information about an identifiable individual. That’s what this policy is about – our collection, protection, use, retention, disclosure and other processing of Personal Information and your rights relating to these activities. We also compile certain aggregate data about our users.</p>
			<p>What is aggregate data? “Joe Brown delivers cucumbers to the market in Cape Town ” is the Personal Information of Joe Brown, but “20% of FoodPrint farmers deliver cucumbers weekly” is aggregate data.</p>
			<p>We use Personal Information in order to provide you and your business with the Services.</p>
			<p>Our Privacy Policy is based on the following 10 fair information principles:</p>
						<ul>
							<li class="aboutText7">Identifying purposes</li>
							<li class="aboutText7">Consent</li>
							<li class="aboutText7">Limiting collection</li>
							<li class="aboutText7">Limiting use, disclosure, and retention</li>
							<li class="aboutText7">Accuracy</li>
							<li class="aboutText7">Safeguards</li>
							<li class="aboutText7">Openness</li>
							<li class="aboutText7">Individual access</li>
							<li class="aboutText7">Challenging compliance</li>
							<li class="aboutText7">Accountability</li>
						</ul>
			<p>We may update this privacy policy to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on our website prior to the change becoming effective. We encourage you to periodically review our Privacy Policy for the latest information on our privacy practices.</p>
		
		</div>
	</div>
</div>

<div class="footer">
  <h2 style="color: rgb(105, 105, 105)">&#169 2020 - 2021 <a id="Home" href="/" class="footerlink">TrFood. Tracking the food.</a></h2>
</div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>
