<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
</head>
<body>
<footer class="nb-footer">
<div class="container">
<div class="row">

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
	<h2 class="title">Help Center</h2>
	<ul class="list-unstyled">
		<li><a href="/indexInfo/farmerslogin" title=""><i class="fa fa-angle-double-right"></i> Farm</a></li>
		<li><a href="/indexInfo/marketslogin" title=""><i class="fa fa-angle-double-right"></i> Market</a></li>
		<li><a href="/indexInfo/processinglogin" title=""><i class="fa fa-angle-double-right"></i> Processing</a></li>
		<li><a href="/products/globalProductEdit" title=""><i class="fa fa-angle-double-right"></i> Edit Global Product</a></li>
	</ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
	<h2 class="title">Customer information</h2>
	<ul class="list-unstyled">
		<li><a href="/about/aboutlogin" title=""><i class="fa fa-angle-double-right"></i> About Us</a></li>
		<li><a href="/authentification/logout" title=""><i class="fa fa-angle-double-right"></i> Logout</a></li>
		<li><a href="/products/typeProduct" title=""><i class="fa fa-angle-double-right"></i> Register Product</a></li>
		<li><a href="/contact/contactlogin" title=""><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
	</ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
	<h2 class="title">Security & privacy</h2>
	<ul class="list-unstyled">
		<li><a href="/terms&privacy/terms&privacylogin" title=""><i class="fa fa-angle-double-right"></i> Terms Of Use</a></li>
		<li><a href="/terms&privacy/terms&privacylogin" title=""><i class="fa fa-angle-double-right"></i> Privacy Policy</a></li>
		<li><a href="/indexInfo/foodGroupslogin" title=""><i class="fa fa-angle-double-right"></i> Food Groups</a></li>
		<li><a href="/indexInfo/farmToForklogin" title=""><i class="fa fa-angle-double-right"></i> Farm to Fork</a></li>
	</ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
	<h2 class="title">Social Media</h2>
    <div class="social-media">
		<ul class="list-inline">
			<li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
			<li><a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
		</ul>
	</div>
</div>
</div>
</div>
</div>

</footer>
</body>
</html>