<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body class="farmtoforkpage">
    <% include partials/menu %>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br>
	<div class= "box-4">
		<br>
	</div>
	<div class="container">
		<h1 style="font-family: serif; font-size: 50px;">What is the Farm to Fork Strategy?</h1>
		<div class="top-2">
			<div class="left-1">
				<p>The Farm to Fork Strategy is at the heart of the European Green Deal aiming to make food systems fair, healthy and environmentally-friendly.</p>
				<p>Food systems cannot be resilient to crises such as the COVID-19 pandemic if they are not sustainable. We need to redesign our food systems which today account for nearly one-third of global GHG emissions, consume large amounts of natural resources, result in biodiversity loss and negative health impacts (due to both under- and over-nutrition) and do not allow fair economic returns and livelihoods for all actors, in particular for primary producers.</p>
				<p>
					Putting our food systems on a sustainable path also brings new opportunities for operators in the food value chain. New technologies and scientific discoveries, combined with increasing public awareness and demand for sustainable food, will benefit all stakeholders.
				</p>
			</div>
			<div class="right-1">
				<div class="top-3">
					<p>The strategy sets out both regulatory and non-regulatory initiatives, with the common agricultural and fisheries policies as key tools to support a just transition.</p>
                    <img class="image-farmers" src="../images/farmtofork3.jpg " width="500px" height="300px" style="border-radius: 30px; ">
                </div>
				<div class="foot-3">
				</div>
			</div>
		</div>
		<div class="foot-2">
			<div class="left-2">
				
				<p>A proposal for a legislative framework for sustainable food systems will be put forward to support implementation of the strategy and development of sustainable food policy. Taking stock of learning from the COVID-19 pandemic, the Commission will also develop a contingency plan for ensuring food supply and food security. The EU will support the global transition to sustainable agri-food systems through its trade policies and international cooperation instruments.</p>
				<br>
				<p>To enable and accelerate the transition to a fair, healthy and environmentally-friendly food system, advisory services, financial instruments, but also research and innovation are instrumental as they can help resolve tensions, develop and test solutions, overcome barriers and uncover new market opportunities.</p>
					</div>
			<div class="right-2">
				<br><br><br>
				<div class="top-4">
					
				</div>
				<div class="foot-4">
					<img class="image-farmers" src="../images/farmtofork2.png" width="400px" height="600px" style="border-radius: 30px; margin-left: 30px;">

				</div>
			</div>
		</div>
	</div>

<div class="footer">
  <h2 style="color: rgb(85, 85, 85)">&#169 2020 - 2021 <a id="Home" href="/" class="footerlink">TrFood. Tracking the food.</a></h2>
</div>


<% include partials/footer %>
</body>
<% include partials/script %>
</html>