<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body class="foodGroupspage">
    <% include partials/menu %>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br>
	<div class= "box-4">
		<br>
	</div>
	<div class="container">
		<h1 style="font-family: serif; font-size: 50px;">What are the basic food groups?</h1>
		<div class="top-2">
			<div class="left-1">
				<p>Foods from the basic food groups provide the nutrients essential for life and growth. These foods are also known as ‘everyday foods’. Each of the food groups provides a range of nutrients, and all have a role in helping the body function. In particular, vegetables, legumes and fruit protect against illness and are essential to a healthy diet.</p>
				<p>The basic food groups are:</p>
                <ul>
                    <li>breads, cereals, rice, pasta, noodles and other grains</li>
                    <li>vegetables and legumes</li>
                    <li>fruit</li>
                    <li>milk, yoghurt, cheese and/or alternatives</li>
                    <li>lean meat, fish, poultry, eggs, nuts and legumes</li>
                </ul>
                <p>A balanced diet includes a variety of foods from each of the five food groups, and offers a range of different tastes and textures. It is important to choose most of the foods we eat each day from these food groups.</p>
			</div>
			<div class="right-1">
				<div class="top-3">
					<p>Breads, cereals, rice, pasta, noodles and other grain-based foods provide carbohydrates, which the body uses for energy. The best choices from this group are wholemeal and wholegrain breads, cereals and savoury biscuits. Other good choices include brown rice, couscous, wholegrain pasta and polenta.</p>
                    <p>Fruit and vegetables provide vitamins, minerals and fibre, and should be included in meals and snacks each day. Choose a variety of fruits, vegetables
                        and legumes (including different colours, textures and flavours) to provide a wide range of vitamins and minerals.</p>
                    <p>Milk, yoghurt, cheese and/or alternatives Plain milk, cheese and yoghurt are the most common dairy foods, and main dietary sources of calcium. Having enough calcium is important for healthy bones and teeth.</p>
                    </div>
				<div class="foot-3">
				</div>
			</div>
		</div>
		<div class="foot-2">
			<div class="left-2">
				
				<p>Milk is not recommended for babies under 12 months, but small amounts in breakfast cereal, and other dairy products such as yoghurt, custard and cheese, can be given after nine months. Full-cream plain milk is recommended for children aged one to two years, and reduced-fat plain milk is suitable for children over the age of two years. If children do not drink cow’s milk, or eat cow’s milk products, they can have a calcium-fortified soy drink instead. Rice and oat milks are not recommended and should only be given to children after medical advice.</p>
				<p>Meat and its alternatives are rich in protein, iron and zinc, and essential for children’s growth and development. It is best to choose lean meat and skinless poultry to ensure children’s diets do not contain too much fat</p>
				<br>
                <p>Some families follow vegetarian eating practices. Usually this means avoiding animal products such as meat, poultry and fish. Many vegetarians still eat some animalrelated products such as eggs, milk, cheese and yoghurt.</p>
                <p>It is especially important that vegetarians eat a variety of legumes, nuts, seeds and grain-based foods, to gain the same nutrients that meat, poultry and fish would otherwise provide.</p>
                <h1 style="font-family: serif; font-size: 50px;">What are 'sometimes foods'?</h1>
                <p>‘Sometimes foods’ are high in fat, sugar and/or salt. They typically have very little nutritional value and are often processed and packaged. There is no need to offer sometimes foods to children on a regular basis.</p>
            </div>
			<div class="right-2">
				<br><br><br>
				<div class="top-4">
					<img class="image-farmers" src="../images/foodGroup.gif" width="400px" height="400px" style="border-radius: 30px; margin-left: 30px;">

				</div>
				<div class="foot-4">
					
				</div>
			</div>
		</div>
	</div>

<div class="footer">
  <h2 style="color: rgb(85, 85, 85)">&#169 2020 - 2021 <a id="Home" href="/" class="footerlink">TrFood. Tracking the food.</a></h2>
</div>


<% include partials/footer %>
</body>
<% include partials/script %>
</html>