<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body class="foodprintpage">
    <% include partials/menu %>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<div class= "box-4">
		<br>
	</div>
	<div class="container">
		<h1 style="font-family: serif; font-size: 50px;">What is a foodprint?</h1>
		<div class="top-2">
			<div class="left-1">
				<p>A foodprint refers to the environmental pressures created by the food demands of individuals, organizations, and geopolitical entities. Like other forms of ecological footprinting, a foodprint can include multiple parameters to quantify the overall environmental impact of food, including carbon footprinting, water footprinting, and foodshed mapping. Some foodprinting efforts also attempt to capture the social and ethical costs of food production by accounting for dimensions such as farm worker justice or prices received by farmers for goods as a share of food dollars. Environmental advocacy organizations like the Earth Day Network and the Natural Resources Defense Council have publicized the foodprint concept as a way of engaging consumers on the environmental impacts of dietary choices.</p>
			
                <img class="image-farmers" src="../images/foodprint2.jpg " width="500px" height="700px" style="border-radius: 30px; margin-left: 30px;">
				
			</div>
			<div class="right-1">
				<div class="top-3">
					<h1 style="font-family: serif; font-size: 50px;">Existing frameworks</h1>
					<p>Foodprinting can incorporate multiple parameters. Foodshed mapping can be used to give a land area estimate for a geographic region, but similar analysis can be employed to specific food products. Water footprinting and carbon footprinting are also used to compare the impacts of different food choices. This type of comparison is commonly used to differentiate between products that have high environmental footprints and their alternatives, like dairy and meat.</p>
					<p>Life Cycle Assessment is one analytical framework frequently used to incorporated multiple dimensions of foodprinting, though it comes with particular challenges. Life cycle assessments for industrial products have discreet inflows and outflows that are easily measured and modeled. As biological systems with high variability, however, agricultural processes are more difficult to model.</p>
					
				</div>
				<div class="foot-3">

				</div>
			</div>
		</div>
		<div class="foot-2">
			<div class="left-2">
				</div>
			<div class="right-2">
				<div class="top-4">
					</div>
				<br>
			</div>
		</div>
	</div>

<div class="footer">
  <h2 style="color: rgb(85, 85, 85)">&#169 2020 - 2021 <a id="Home" href="/" class="footerlink">TrFood. Tracking the food.</a></h2>
</div>


<% include partials/footer %>
</body>
<% include partials/script %>
</html>