<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body class="marketspage">
    <% include partials/menu %>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br>
	<div class= "box-4">
		<br>
	</div>
	<div class="container">
		<h1 style="font-family: serif; font-size: 50px;">What is a market?</h1>
		<div class="top-2">
			<div class="left-1">
				<p>A market, or marketplace, is a location where people regularly gather for the purchase and sale of provisions, livestock, and other goods. Some markets operate daily and are said to be permanent markets while others are held once a week or on less frequent specified days such as festival days and are said to be periodic markets. The form that a market adopts depends on its locality's population, culture, ambient and geographic conditions. The term market covers many types of trading, as market squares, market halls and food halls, and their different varieties. Due to this, marketplaces can be situated both outdoors and indoors, and in the modern world, like a online marketplace.</p>
				<p>In many countries, shopping at a local market is a standard feature of daily life. Given the market's role in ensuring food supply for a population, markets are often highly regulated by a central authority. In many places, designated market places have become listed sites of historic and architectural significance and represent part of a town or nation's cultural assets. For these reasons, they are often popular tourist destinations.</p>
			</div>
			<div class="right-1">
				<div class="top-3">
					<h1 style="font-family: serif; font-size: 50px;">Etymology</h1>
					
					<p>The term market comes from the Latin mercatus ("market place"). The earliest recorded use of the term market in English is in the Anglo-Saxon Chronicle of 963, a work that was created during the reign of Alfred the Great (r. 871–899) and subsequently distributed, copied throughout English monasteries. The exact phrase was “Ic wille þæt markete beo in þe selue tun,” which roughly translates as “I want to be at that market in the good town.”</p>
				</div>
				<div class="foot-3">
					<p>Today, markets can also be accessed electronically or on the internet through e-commerce or matching platforms.</p>
					
				</div>
			</div>
		</div>
		<div class="foot-2">
			<div class="left-2">
				<p>Markets have existed for as long as humans have engaged in trade. The earliest bazaars are believed to have originated in Persia, from where they spread to the rest of the Middle East and Europe. Documentary sources suggest that zoning policies confined trading to particular parts of cities from around 3,000 BCE, creating the conditions necessary for the emergence of a bazaar. Middle Eastern bazaars were typically long strips with stalls on either side and a covered roof designed to protect traders and purchasers from the fierce sun. In Europe, informal, unregulated markets gradually made way for a system of formal, chartered markets from the 12th century. Throughout the Medieval period, increased regulation of marketplace practices, especially weights and measures, gave consumers confidence in the quality of market goods and the fairness of prices. Around the globe, markets have evolved in different ways depending on local ambient conditions, especially weather, tradition, and culture. In the Middle East, markets tend to be covered, to protect traders and shoppers from the sun. In milder climates, markets are often open air. In Asia, a system of morning markets trading in fresh produce and night markets trading in non-perishables is common.</p>
				</div>
			<div class="right-2">
				<div class="top-4">
					<img class="image-farmers" src="../images/market2.jpeg " width="400px" height="300px" style="border-radius: 30px; margin-left: 30px;">
				</div>
				<br>
				<div class="foot-4">
					<img class="image-farmers" src="../images/market3.jpeg" width="400px" height="300px" style="border-radius: 30px; margin-left: 30px;">

				</div>
			</div>
		</div>
	</div>

<div class="footer">
  <h2 style="color: rgb(85, 85, 85)">&#169 2020 - 2021 <a id="Home" href="/" class="footerlink">TrFood. Tracking the food.</a></h2>
</div>


<% include partials/footer %>
</body>
<% include partials/script %>
</html>

