<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="signUp">
    <% include partials/menu %>

    <% include partials/messages %>

    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br>
    <br>

  <div class="container-11">
    <h1 style="font-size: 40px; margin-left: 45%;">Edit account</h1>
    
        <form action="/users/myaccount" method='POST' style="border-style: none;">
            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter name" name="name" />

            <label for="surname"><b>Surname</b></label>
            <input type="text" placeholder="Enter surname" name="surname" />
    
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter email" name="email" />
    
            <label for="password"><b>New password</b></label>
            <input type="password" placeholder="Enter new password" name="password" />
    
            <label for="password2"><b>Repeat password</b></label>
            <input type="password" placeholder="Enter new password" name="password2" />
            <br>
            <label for="professions">Choose a profession:</label>
                <select name="professions" id="professions" >
                    <option value="farmer">Farmer</option>
                    <option value="agriHub">Agri-Hub</option>
                    <option value="foodMarket">Food Market</option>
                    <option value="restaurant">Restaurant</option>
                    <option value="retailer">Retailer</option>
                </select>
            <br><br>

              <button type="submit" class="button-4">Change</button>

        </form>
    </div>
	<p> </p>
	<p> </p>
  </div>
</div>

<div class="footer">
  <h2 style="color: rgb(95, 95, 95)">&#169 2020 - 2021 <a id="Home" href="/" class="footerlink">TrFood. Tracking the food.</a></h2>
</div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>