<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body class="processingpage">
    <% include partials/menu %>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	<br><br>
	<div class= "box-4">
		<br>
	</div>
	<div class="container">
		<h1 style="font-family: serif; font-size: 50px;">What is food processing?</h1>
		<div class="top-2">
			<div class="left-1">
				<p>Food processing is the transformation of agricultural products into food, or of one form of food into other forms. Food processing includes many forms of processing foods, from grinding grain to make raw flour to home cooking to complex industrial methods used to make convenience foods. Some food processing methods play important roles in reducing food waste and improving food preservation, thus reducing the total environmental impact of agriculture and improving food security.</p>
				<p>Primary food processing is necessary to make most foods edible, and secondary food processing turns the ingredients into familiar foods, such as bread. Tertiary food processing has been criticized for promoting overnutrition and obesity, containing too much sugar and salt, too little fiber, and otherwise being unhealthful in respect to dietary needs of humans and farm animals.</p>
			</div>
			<div class="right-1">
				<div class="top-3">
					<h1 style="font-family: serif; font-size: 50px;">Primary food processing</h1>
					<p>Primary food processing turns agricultural products, such as raw wheat kernels or livestock, into something that can eventually be eaten. This category includes ingredients that are produced by ancient processes such as drying, threshing, winnowing and milling grain, shelling nuts, and butchering animals for meat. It also includes deboning and cutting meat, freezing and smoking fish and meat, extracting and filtering oils, canning food, preserving food through food irradiation, and candling eggs, as well as homogenizing and pasteurizing milk.</p>
				</div>
				<div class="foot-3">
					<h1 style="font-family: serif; font-size: 50px;">Tertiary food processing</h1>
					<p>Tertiary food processing is the commercial production of what is commonly called processed food. These are ready-to-eat or heat-and-serve foods, such as TV dinners and re-heated airline meals.</p>
					
				</div>
			</div>
		</div>
		<div class="foot-2">
			<div class="left-2">
				<h1 style="font-family: serif; font-size: 50px;">Secondary food processing</h1>
				<p>Secondary food processing is the everyday process of creating food from ingredients that are ready to use. Baking bread, regardless of whether it is made at home, in a small bakery, or in a large factory, is an example of secondary food processing. Fermenting fish and making wine, beer, and other alcoholic products are traditional forms of secondary food processing. Sausages are a common form of secondary processed meat, formed by comminution (grinding) of meat that has already undergone primary processing. Most of the secondary food processing methods known to human kind are commonly described as cooking methods.</p>
				<br>
				<p>Processed foods may actually take less energy to digest than whole foods, according to a study published in "Food & Nutrition Research" in 2010, meaning more of their food energy content is retained within the body. Processed foods also tend to be more allergenic than whole foods, according to a June 2004 "Current Opinion in Allergy and Clinical Immunology" article. Although the preservatives and other food additives used in many processed foods are generally recognized as safe, a few may cause problems for some individuals, including sulfites, artificial sweeteners, artificial colors and flavors, sodium nitrate, BHA and BHT, olestra, caffeine and monosodium glutamate.</p>
			</div>
			<div class="right-2">
				<br><br><br>
				<div class="top-4">
					<img class="image-farmers" src="../images/processing2.jpg " width="400px" height="300px" style="border-radius: 30px; margin-left: 30px;">
				</div>
				<div class="foot-4">
					<img class="image-farmers" src="../images/processing3.jpg" width="400px" height="300px" style="border-radius: 30px; margin-left: 30px;">

				</div>
			</div>
		</div>
	</div>

<div class="footer">
  <h2 style="color: rgb(85, 85, 85)">&#169 2020 - 2021 <a id="Home" href="/" class="footerlink">TrFood. Tracking the food.</a></h2>
</div>


<% include partials/footer %>
</body>
<% include partials/script %>
</html>

