<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="typeProductPage">
<% include partials/menu %>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="box-6"><br></div>

<div class="container-4">
  <br>
  <div class="center-1">
    <div class="top-6">
      <h1 style="font-family: serif; font-size: 50px; color: rgba(158, 154, 97, 0.829);">Group 1</h1>
      <br>
      <p class="text-1"><span style="font-weight: bolder;">Milk and dairy products:</span> Plastic function. They participate in the formation and maintenance of the different structures of the organism. They are protein foods and their energetic power depends on the fat that accompanies the proteins.</p>
      <a class="a-2" href="/products/group1">Create Product</a>
      <br>
    </div>
    <foot class="foot-6">
      <h1 style="font-family: serif; font-size: 50px; color: rgba(158, 154, 97, 0.829);">Group 2</h1>
      <br>
      <p class="text-1"><span style="font-weight: bolder;">Meat, fish and eggs:</span> Plastic function. They are foods that incorporate proteins of high biological power, iron and vitamins of the B group. Meat and fish proteins are equally necessary, although fish is considered healthier due to its omega-3 fat content. Eggs are also rich in essential nutrients.</p>
      <a class="a-2" href="/products/group2">Create Product</a>
      <br>
    </foot>
  </div>
  <div class="center-1">
    <div class="top-6">
      <h1 style="font-family: serif; font-size: 50px; color: rgba(158, 154, 97, 0.829);">Group 3</h1>
      <br>
      <p class="text-1"><span style="font-weight: bolder;">Potatoes, pulses, nuts:</span> Plastic and energetic function. Energetic in the sense that they provide energy thanks to their carbohydrate content. As for pulses, they provide proteins of vegetable origin with a high biological content and fibre. Nuts provide monounsaturated and polyunsaturated fatty acids and B vitamins.</p>
      <a class="a-2" href="/products/group3">Create Product</a>
      <br>
    </div>
    <foot class="foot-6">
      <h1 style="font-family: serif; font-size: 50px; color: rgba(158, 154, 97, 0.829);">Group 4</h1>
      <br>
      <p class="text-1"><span style="font-weight: bolder;">Vegetables:</span> Regulatory function. The Spanish Food Code indicates that vegetables are any herbaceous horticultural plant that can be used as food, either raw or cooked, and greens are vegetables in which the edible part is made up of their green organs (leaves, stems, inflorescence). They provide large amounts of vitamins, minerals and trace elements, fibre (especially soluble), as well as a high percentage of water and few calories from their low proportion of carbohydrates, proteins and fats.</p>
      <a class="a-2"  href="/products/group4">Create Product</a>
      <br>
    </foot>
  </div>
  <div class="center-1">
    <div class="top-6">
      <h1 style="font-family: serif; font-size: 50px; color: rgba(158, 154, 97, 0.829);">Group 5</h1>
      <br>
      <p class="text-1"><span style="font-weight: bolder;">Fruits:</span> Regulatory function. Their importance in the diet is similar to that of group 4, vegetables, and they are also rich in sugars such as sucrose, fructose and glucose, but with a low calorie content.</p>
      <a class="a-2"  href="/products/group5">Create Product</a>
      <br>
    </div>
    <foot class="foot-6">
      <h1 style="font-family: serif; font-size: 50px; color: rgba(158, 154, 97, 0.829);">Group 6</h1>
      <br>
      <p class="text-1"><span style="font-weight: bolder;">Cereals and derivatives, sugar and sweets:</span> Energy function. They provide calories from their carbohydrates (those of cereals are denser and more nutritious than other sources of carbohydrates). Also important is the contribution of group B vitamins.</p>
      <a class="a-2"  href="/products/group6">Create Product</a>
      <br>
    </foot>
  </div>
  <div class="center-1">
    <div class="top-6">
      <h1 style="font-family: serif; font-size: 50px; color: rgba(158, 154, 97, 0.829);">Group 7</h1>
      <br>
      <p class="text-1"><span style="font-weight: bolder;">Fats, oil and butter:</span> Energy function. The caloric intake must come from this group as well as from the previous one, due to the difference of elements that each one has. This group is rich in fat-soluble vitamins.</p>
      <a class="a-2"  href="/products/group7">Create Product</a>
      <br>
    </div>
    <foot class="foot-6">
      <h1 style="font-family: serif; font-size: 50px; color: rgba(158, 154, 97, 0.829);">Group 8</h1>
      <br>
      <p class="text-1"><span style="font-weight: bolder;">Processed food:</span> Processing methods include washing, chopping, pickling, smoking, heat treatments such as pasteurising, fermentation, freezing, packaging and the addition of ingredients, which may change the characteristics of the flavour, shelf-life and even nutritional content of food.</p>
      <a class="a-2"  href="/products/registerProduct">Create Product</a>
      <br>
    </foot>
  </div>
  <br>
</div>
<div class="box-6"><br></div>

<div class="footer">
  <h2 style="color: white">&#169 2020 - 2021 <a id="Home" href="/" class="footerlink" style="color: white;">TrFood. Tracking the food.</a></h2>
</div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>